body {
    font-family: Arial, sans-serif;
    background-color: #100b0b;
    color: #333;
    margin: 0;
}

.header {
    background-color: #36393d;
    color: white;
    padding: 10px;
    text-align: center;
}

.nav {
    margin-top: 10px;
}

.nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}
.containers {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #444;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.85em;
    margin-top: 5px;
}

.footer {
    text-align: center;
    background-color: #353232;
    padding: 10px;
    margin-top: 13%;
}

.btn-blue {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /* Optional: Adds rounded corners */
}

.btn-blue:hover {
    background-color: darkblue; /* Optional: Changes color on hover */
}
.error-message {
    color: red;
    font-size: 10px;
}
.big-card {
    margin-bottom: 20px;
}
.small-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.love-icon {
    cursor: pointer;
    color: red;
    font-size: 20px;
}
.edit-icon {
    cursor: pointer;
    color: blue;
    font-size: 20px;
}


body {
    font-family: Arial, sans-serif;
    /* background-color: #F8F9FA; */
}

.card {
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.love-btn {
    border: none;
    background: none;
    font-size: 1.5rem;
    color: gray;
}

.love-btn.liked span {
    color: red; /* Change the color to red when liked */
}
